.sub{
    background-color: rgb(168, 13, 13);
    padding: 12px 32px;
    border: none;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    
}
.sub:active, .sub:hover{
    background-color: whitesmoke;
}
.subOne{
    padding: 12px 32px; 
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
}
.sub2{
    border: none;
    border-radius: 50%;
    font-weight: bold;
    padding: 12px 32px;
    background-color: rgb(21, 144, 244);
    color: white;
}